{% extends 'base.html' %}

{% block content %}
<form action="{% url 'update' blog.id %}">
    <div class="form-group">
        <label for="formGroupExampleInput">Title</label>
        <input name="title" type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" value="{{blog.title}}">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Body</label>
        <textarea name="body" class="body" id="exampleFormControlTextarea1" rows="10">{{blog.body}}</textarea>
    </div>

    <button type="submit" class="btn btn-secondary">Edit</button>
    
</form>

{% endblock %}